body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	min-width:600px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:small;
    font-family: Arial, Helvetica, sans-serif;
}
a {
	color:#369;
}

#btnSubmit {
    background-color:limegreen;
}
a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width:100%;
    background:black;
}
#header {
	border-bottom:1px solid #000;
}
#header p,
#header h1,
#header h2 {
	padding:.4em 15px 0 15px;
	margin:0;
}
#header ul {
	clear:left;
	float:left;
	width:100%;
	list-style:none;
	margin:10px 0 0 0;
	padding:0;
}
#header ul li {
	display:inline;
	list-style:none;
	margin:0;
	padding:0;
}
#header ul li a {
	display:block;
	float:left;
	margin:0 0 0 1px;
	padding:3px 10px;
	text-align:center;
	background:#eee;
	color:#000;
	text-decoration:none;
	position:relative;
	left:15px;
	line-height:1.3em;
}
#header ul li a:hover {
	background:#369;
	color:#fff;
}
#header ul li a.active,
#header ul li a.active:hover {
	color:#fff;
	background:#000;
	font-weight:bold;
}
#header ul li a span {
	display:block;
}
/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}
/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 1em 0;
	overflow:hidden;
}
/* 2 Column (left menu) settings */
.leftmenu {
    /* right column background colour */
	background: #D5F5E3;		/*For browsers that dont support gradients*/
    /*Gradients-- light green to light red*/
   /* background: -webkit-linear-gradient(left, #F1948A, #D5F5E3);	/*For safari*/
   /* background: -o-linear-gradient(bottom right, #F1948A, #D5F5E3);	/*For Opera*/
    /*background: -moz-linear-gradient(bottom right, #F1948A, #D5F5E3);	/*For Firefox*/
    /*background: linear-gradient(bottom right, #F1948A, #D5F5E3);	/*For Standard*/
    
    background: -webkit-linear-gradient(135deg, #D5F5E3, #F1948A);	/*For safari*/
    background: -o-linear-gradient(135deg, #D5F5E3, #F1948A);	/*For Opera*/
    background: -moz-linear-gradient(135deg, #D5F5E3, #F1948A);	/*For Firefox*/
    background: linear-gradient(135deg, #D5F5E3, #F1948A);	/*For Standard*/
}
.leftmenu .colleft {
	right:75%;			/* right column width */
	/* background:#f4f4f4;	 left column background colour */
	background: #D5F5E3;		/*For browsers that dont support gradients*/
    /*Gradients-- light green to light red*/
    background: -webkit-linear-gradient(left top, #f4f4f4, #D5F5E3);	/*For safari*/
    background: -o-linear-gradient(bottom right, #f4f4f4, #D5F5E3);	/*For Opera*/
    background: -moz-linear-gradient(bottom right, #f4f4f4, #D5F5E3);	/*For Firefox*/
    background: linear-gradient(bottom right, #f4f4f4, #D5F5E3);	/*For Standard*/
}
.leftmenu .col1 {
	width:71%;			/* right column content width */
	left:102%;			/* 100% plus left column left padding */
}
.leftmenu .col2 {
	width:21%;			/* left column content width (column width minus left and right padding) */
	left:6%;			/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width:100%;
	border-top:1px solid #000;
    background:black;
}
#footer p {
	padding:10px;
	margin:0;
}

/* Table Styles*/
table, th, td {
    border: 1px solid black;
}

/****** For OTSPN Page *******/
.menubutton {
  width:100%;  
  background-color:maroon;
  color:white;
}


#divOTSNewIn {
    float: left;
    padding-right: 50px;
}

.ui-widget-header {
    background-color:maroon;
    background-image:none;
    color:white;
}
.txtinput[type=text] {
    text-transform:uppercase;
}

.upper {
    text-transform:uppercase;
}

.cboinput_vwpndata,.txtinput_vwpndata,.cboinput_vwpndata_toggle,.txtinput_vwpndata_toggle  {
    width: 450px;
}

.fldlabel_vwpndata {
    float: left;
    width: 150px;
    margin-right: 5px;
    text-align: right;
}

/*https://staff.washington.edu/fmf/2010/03/05/jquery-tabs-basic-styling*/
/*Search for jquery ui tab styling missing borders*/

/*The expand button that appears input the table with search results
.otsFoundExpand {
    position:relative;
    top:0;
    bottom:0;
    right:0;
    left:0;
    margin:3px;
}*/

/*Class to apply to a button that should fill its container*/
.fillbutton {
    height:100%;
    width:100%;
}

/*****************************/

/***** TAB OVERRIDES *********/
#bordertabs ul {
    display:none;
}

#bordertabs ul.ui-tabs-nav {
    display:block;
}

#bordertabs .ui-tabs-panel h3 {
    display:none;
}
/************************888*/
#bordertabs .ui-tabs-nav {
    margin-bottom: -1px;
}
#bordertabs .ui-tabs-nav li {
    border: 1px #f21e1e solid;
    -webkit-border-top-left-radius: 0.5em;
    -webkit-border-top-right-radius: 0.5em;
    -moz-border-radius-topleft: 0.5em;
    -moz-border-radius-topright: 0.5em;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}

#bordertabs .ui-tabs-nav li.ui-tabs-selected {
    border-bottom-color: #e3e3e3;
}

#bordertabs .ui-tabs-panel {
    border: 1px #f21e1e solid;
}
/*****************************/

/***********TOOL TIP WIDGET************/
.ui-tooltip-content {
    background: #EAFAF1;/*light green*/
    border: 1px solid black;
    padding: 5px;
}
.ui-tooltip {
    background: #FADBD8;/*light-red*/
}
/**************************************/
