body {
}
.txtinput{
    display:block;
    margin:5px 0px 0px 0px;
    width:100%;
    box-sizing:border-box;
}

.userinput{
    text-transform:uppercase;
}

.lblinput{
    display:block;
    margin-top:15px;
}

#txtReasonForChange {
    margin-bottom:5px;
}
.btninput{
    margin-top:15px;
}

#btnRelease {
    background-color:lime;
    position:absolute;
    right:0;  
}
#lblBOMRev, #lblProduct {
    display:inline-block;
}
#btnShowBOMRevs, #btnHistory {
    display:inline-block;
    background-color:papayawhip;
    margin-left:10px;
}

#btnDelete {
    background-color:red;
    position:absolute;
    right:80px
    
}

h1 {
    text-align:center;
}

#divResult {
   overflow-x:auto;
}
.filFileupload{
    margin-top:5px;
}

.txtRelNote {
    width:100%;
    rows:8;
}

.relNoteButton {
    display:inline;
    margin-right:3px;
}

.relEdit {
    background-color:yellow;
    
}
.relSave {
    background-color:lawngreen;
}
.relCancel {
    background-color:red;
}

.tableCellButton {
    width:100%;
    height:100%;
}

.viewBOM {
    background-color:mediumspringgreen;
}


